@page
@model Shoe_Store_Application.Pages.Product.IndexModel
@{
    ViewData["Title"] = "Sneakers";
}

<link rel="stylesheet" href="~/css/ProductPage.css" />

<div class="page-content">
    <div class="wrapper">
        
        @foreach (var item in Model.listProduct)
        {
            <div class="product-container">

                <a class="text-decoration-none" href="/Product/ProductDetails/?id=@item.id">
                    <div class="product-image">
                    
                        <img src=@item.image>
                       
                    </div>
                        
                    <div class="product-name text-decoration-none">
                        @item.name
                    </div>
                    <div class="product-price text-decoration-none">
                            $@item.price
                    </div>
                </a>

            </div>
        }
    </div>






</div>

